h1,
p {
  font-family: Lato;
}

html {
  /* background: linear-gradient(48.7deg, #4956CD -1.03%, rgba(66, 79, 197, 0.507047) 29.97%, rgba(39, 57, 215, 0.210912) 49.2%, rgba(255, 255, 255, 0) 74.32%), #121051;  width: 100%; */
  height: 320%;
  background-color: #121051;

  /* Inside Auto Layout */
}

/* Navbar */
.p-absoulute {
  z-index: 0;
  display: inline-block;
}

.ideamarket-name{
  color: #ffffff;
}

.idea-brand{
  position: absolute;
}

ul {
  background-color: none;

  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: -1px;
  text-decoration: none;
}

li {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #586069;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

li:hover {
  cursor: pointer;
  color: #24292e;
  border-bottom-color: #000000;
  transition: 0.2s ease;
  text-decoration: none;
  /* border-bottom: 2.5px solid #d1d5da; */
}

.active {
  font-weight: 600;
  color: #24292e;
  border-bottom-color: #e36209;
  text-decoration: none;
}

.active:hover {
  font-weight: 600;
  color: #24292e;
  border-bottom-color: #e36209;
  text-decoration: none;
}

/* first frame desgins */

.first-frame{
  margin-top: 0%;
  width: 100%;
}

.white-oval {
  position: absolute;
  z-index: -1;
  height: 35vw;
  width: 80vw;
  top: 0;
  right: 0;
}

/* .blue-circle {
  position: absolute;
  z-index: -2;
  height: 650px;
  width: 950px;
  top: 10;
  right: 0px;
} */

.bar {
  z-index: 10;
  position: fixed;
  width: 100%;
  color: #0000;
  background-color: transparent;
}

.scroll {
  background-color: #ffffff;
  opacity: 199%;
  color: #000000;
}

.text {
  position: absolute;
  width: 46vw;
  height: 7vw;
  margin-left: 41%;
  margin-top: 7%;
  font-family: Roboto;
  font-style: normal;
  color: #000000;
}

.landing-title {
  font-weight: 800;
  font-size: 4vw;
}

.landing-paragraph {
  font-weight: normal;
  font-size: 2vw;
}

.media-talk{
  position: absolute;
  z-index: 5;
  margin-top: 5%;
  margin-left: 5%;
  width: 30vw;
  height: 30vw;

}

/* Second Frame Style*/

.white-rect {
  position: absolute;
  margin-top: 32%;
  height: 35vw;
  width: 100%;
  top: 0;
  fill: white;
}

.sec-text {
  position: absolute;
  width: 46vw;
  height: 7vw;
  margin-left: 10%;
  margin-top: 10vw;
  font-family: Roboto;
  font-style: normal;
  color: #000000;
}

.watch-button {
  position: absolute;
  width: 114px;
  height: 34px;
  margin-left: 20px;
}

.blue-border-rect {
  background: #ffffff;
  border: 4px solid #1d3ba8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blue-small-title {
  margin-top: 5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #1d3ba8;
}

.watch-triangle {
  margin-right: 7px;
}

.white-border-rect {
  background: #1d3ba8;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-listing-button {
  position: absolute;
  width: 114px;
  height: 34px;
  margin-left: 0px;
}

.white-small-title {
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #ffffff;
}

.pressing-wallet{
  position: absolute;
  height: 21vw; /* height to width ratio of 1:2.3*/
  width: 52vw;
  margin-top: 14%;
  right: 2px;
}

/*Third frame style*/

.third-frame {
  align-items: center;
}

.rect-12{
  position: absolute;
  margin-top: 65%;
  margin-left: 0%;
  width: 45vw;
  height: 40vw;
}


.signals{
  position: absolute;
  margin: 70vw 30vw;
  display: inline-block;
}

.blue-number{
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 59px;
  
  color: #1D3BA8;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.white-title{
  font-style: normal;
font-weight: bold;
font-size: 3vw;
line-height: 59px;
margin-left: 10px;
color: #FFFFFF;

}

.audited{
  position: absolute;
  margin-top: 1vw;
  margin-left: 60px;
  width: 13vw;
}

.audited-title{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;
}

.quant-audited{
  margin-left: 150px;
}

/* popularity-chart styling */

.popularity-chart {
  position: absolute;
  margin-top: 85%;
  margin-left: 5%;
  height: 42vw;
  width: 90vw;
  border-radius: 2%;
  background-color: #ffffff;
}


.tab-content {

  background: #EDF3FE;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0px;
  height: 30vw;
  width: 85vw;
}

.tabs {
  margin-left: 2% ;
  margin-top: 3%;
}

.tabs-list {
  cursor: pointer;
  border-top: 1px solid black;
  padding-left: 0;
  margin-bottom: 0px;
}

.tab-list-item {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  margin-bottom: -70px;
  padding-right: 5px;
  border-radius: 0%;
}



.active-tab-list-item {

  background: #EDF3FE;
  box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.25);
  border-width: 1px 1px 0 1px;
}

.chart-title{

font-size: 18.0602px;
line-height: 27px;
/* or 150% */


/* Dark Color */

color: #263238;
}

.chart{
  width: 80vw;
  height: 28vw;
  margin: 0px 10px;

  background: #EDF3FE;
  }


/* fourth frame styling */

.fourth-frame{
  position: absolute;
  margin-top: 130%;
  text-align: center;
  align-items: center;
  margin-left: 20%;
}

.featured-title{
  font-family: Roboto;
  margin-left: 2px;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;
text-align: center;

color: #FFFFFF;
}

.featured-logos{
  margin-top: 40px;
}

.logo{
  margin-left: 45px;
  margin-bottom: 30px;
  height: auto;
  width: auto;
}


/* footer styling */

.footer{
  z-index: 3;
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 4%;
  color: #ffffff;
  position: absolute;
  top:310%;
  bottom: 0;
}

.footer-link{
  margin: 2px 5px;
}

/* For phones*/

@media (max-width: 600px) {
  html{
    width: 100%;
  }
  ul {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 2px solid #d1d5da;
    margin-bottom: -1px;
    text-decoration: none;
  }

  li {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #586069;
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }

  li:hover {
    cursor: pointer;
    color: #24292e;
    border-bottom-color: #d1d5da;
    transition: 0.2s ease;
    text-decoration: none;
    /* border-bottom: 2.5px solid #d1d5da; */
  }

  .active {
    font-weight: 600;
    color: #24292e;
    border-bottom-color: #e36209;
    text-decoration: none;
  }

  .active:hover {
    font-weight: 600;
    color: #24292e;
    border-bottom-color: #e36209;
    text-decoration: none;
  }

  .ideamarket-name{
    display: none;
  }

  .bar {
    z-index: 10;
    position: fixed;
    width: 100%;
    color: #0000;
    background-color: #ffffff;

  }
  
  .scroll {
    background-color: #ffffff;
    opacity: 199%;
    color: #000000;
  }
  
/* first frame desgins */

.first-frame{
  position: absolute;
  margin-top: 15%;
  width: 100%;
}

.white-oval {
 display: none;
}


.text {
  text-align: center;

  width: 400px;
  height: 17px;
  margin-left: 10%;
  margin-top: 7%;
  font-family: Roboto;
  font-style: normal;
  color: #ffffff;
}

.landing-title {
  font-weight: 800;
  font-size: 25px;
}

.landing-paragraph {
  font-weight: normal;
  font-size: 15px;
}

.media-talk{
  z-index: 5;
  margin-left: 5%;
  margin-top: 33%;
  width: 400px;
  height: 400px;

}

  /* Second Frame Style*/

.second-frame{
  position: absolute;
  width: 100%;
  margin-top: 90%;
}
.white-rect {
  fill: transparent;
}

.sec-text {
  text-align: center;
  width: 400px;
  height: 10px;
  margin-left: 15%;
  margin-top: 5%;
  font-family: Roboto;
  font-style: normal;
  color: #ffffff;
}

.sec-eth{
  margin-left: 0px;
  margin-bottom: 30px;
}

.watch-button {
  width: 114px;
  height: 34px;
  margin-left: 20px;
}

.blue-border-rect {
  background: #ffffff;
  border: 4px solid #1d3ba8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blue-small-title {
  margin-top: 5px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;

  color: #1d3ba8;
}

.watch-triangle {
  margin-right: 7px;
}

.white-border-rect {
  background: #1d3ba8;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-listing-button {
  width: 114px;
  height: 34px;
  margin-left: 0px;
}

.white-small-title {
  margin-top: 5px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #ffffff;
}

.pressing-wallet{
  height: 240px; /* height to width ratio of 1:2.3*/
  width: 550px;
  margin-top: 50%;
  margin-left: 20%;
}


/*Third frame style*/

.third-frame {
  position: absolute;
  margin-top: 225%;
  width: 100%;
}

.rect-12{
  margin-top: 4%;
  margin-left: 2%;
  width: 400px;
  height: 400px;
}


.signals{
  align-content: center;
  position: absolute;
  margin-top:0px;
  margin-left: 70px;
  display: inline-block;
  width: 400px;
}

.blue-number{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 59px;
  
  color: #1D3BA8;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.white-title{
  margin-top: 0px;
  font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 59px;
margin-left: 10px;
color: #FFFFFF;

}

.audited{
  margin-top: 20px;
  margin-left: 60px;
  width: 200px;
}

.audited-title{
  margin-top: 8px;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #ffffff;
}

.quant-audited{
  margin-top: 0px;
  margin-left: 140px;
}

/* popularity-chart styling */

.popularity-chart {
  margin-top: 150px;
  margin-left: 20px;
  height: 50vw;
  width: 90vw;
  border-radius: 2%;
  background-color: #ffffff;
}


.tab-content {

  background: #EDF3FE;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0px;
  height: 30vw;
  width: 85vw;
}

.tabs {
  margin-left: 2% ;
  margin-top: 3%;
}

.tabs-list {
  cursor: pointer;
  border-top: 1px solid black;
  padding-left: 0;
  margin-bottom: 0px;
}

.tab-list-item {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  margin-bottom: -70px;
  padding-right: 5px;
  border-radius: 0%;
}



.active-tab-list-item {

  background: #EDF3FE;
  box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.25);
  border-width: 1px 1px 0 1px;
}

.chart-title{
  margin-left: 2%;

font-size: 18.0602px;
line-height: 27px;
color: #263238;
}

.chart{
  width: 400px;
  height: 150px;
  margin: 0px 10px;

  background: #EDF3FE;
  }


  
/* fourth frame styling */

.fourth-frame{
  position: absolute;
  margin-top: 320%;
  text-align: center;
  align-items: center;
  margin-left: 15%;
}

.featured-title{
  font-family: Roboto;
  margin-left: -70px;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;
text-align: center;

color: #FFFFFF;
}

.featured-logos{
  margin-top: 40px;
}

.logo{
  align-items: center;
  margin-left: 60px;
  margin-bottom: 30px;
  height: auto;
  width: auto;
}


}
